nav {
  width: fit-content;
  margin-left: auto;
  display: flex;
  color: #18384c;
}
nav.adminNav {
  margin-left: 0 !important;
  width: 100%;
}

.nav-collection {
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-item:not(:last-child) {
  margin-right: 1rem;
}

.nav-item:hover {
  cursor: pointer;
  color: #114be0;
}

#username:hover {
  color: #18384c;
  cursor: initial;
}
