.alert {
  position: absolute;
  padding: 0.8rem;
  margin: 0 auto;
  opacity: 0.9;

  left: 40vw;
  color: #fff;
  z-index: 10000;
}

.alert-success {
  background: #08c096;
}

.alert-danger {
  background: #a21818;
}
